@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 158 47% 8%;
    --foreground: 0 0% 98%;
    --card: 160 45% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 158 47% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 47% 50%;
    --primary-foreground: 144 80% 10%;
    --secondary: 144 30% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 144 30% 20%;
    --muted-foreground: 0 0% 80%;
    --accent: 142 47% 50%;
    --accent-foreground: 144 80% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 144 30% 20%;
    --input: 144 30% 20%;
    --ring: 142 47% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}